.formulario-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px); /* Ajustamos la altura mínima del formulario */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/fondo.png'); /* Modificado el valor alfa de los colores para dar transparencia */
    background-size: cover; /* Cubre todo el contenedor con la imagen */
    background-position: center; /* Centra la imagen horizontal y verticalmente */
    height: 120vh; /* Establece la altura al 100% de la altura de la ventana */
    margin: 0; 
}

.form-container {
    width: 80%;
    max-width: 600px;
    padding: 40px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.titulo-contact{
    text-align: center;
    margin-bottom: 20px;
    color: #F2B999; /* Cambia el color a tu preferencia */
}

.form-contact label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #555;
}

.form0contact label i {
    margin-right: 8px;
}

button[type="submit"] {
    background: linear-gradient(to bottom, #A64029 0%, #59190B 90%);
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #755638;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 2px solid #8C6E49;
    outline: none;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}
