.forgot-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../img/fondo_login.png');
    background-size: cover;
    background-position: center;
    height: 110vh;
    margin: 0;
}


.forgot-password-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

.forgot-password-description {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555555;
}

.forgot-password-label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333333;
}

.forgot-password-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.forgot-password-button {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.forgot-password-button:hover {
    background-color: #a07945;
}

.back-to-login-link {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: #a07945;
    text-decoration: none;
    display: block;
}

.back-to-login-link:hover {
    text-decoration: underline;
}
